<div class="container-fluid" fxLayout="column">
  <header class="row" fxFlex="0 0 auto">
    <div class="col">
      <div class="container">
        <div class="row" fxLayoutAlign="space-between">
          <img fxFlexAlign="center" src="img/logo.svg" height="40">
          <img alt="Modulr" src="img/bg-blocks.svg" height="70">
        </div>
      </div>
    </div>
  </header>
  <header class="row pebble" fxFlex="0 0 auto">
    <div class="col">
      <div class="container">
        <nav class="row navbar navbar-toggleable-md navbar-inverse">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav" fxFlexFill>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Admin</a>
                </li>
                <li fxFlex fxFlexFill></li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="fa fa-user"></i> Jack Reacher
                  </a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  </header>
  <main class="row" fxFlex="1 1 auto">
    <my-dashboard fxLayout="column" fxFlex="1 1 auto"></my-dashboard>
  </main>
  <footer class="row pebble py-2" fxFlex="0 0 auto">
    <div class="col">
      <div class="container">
        <div class="row" fxLayoutAlign="space-between center">
          <div class="col-md-8">
            <span><small>The Modulr Account is provided by PrePay Technologies limited, regulated by the Financial Conduct Authority for
              issuance of electornic money (FRN 900010).</small></span>
            <br>
            <span><small> Modulr Technology Limited, 1 Hammersmith Broadway, London, W6 9DL Registered in England No. 09897906 &copy; 2016 Modulr Technology Limited</small></span>
          </div>
          <img alt="Modulr" src="img/footer-logo.svg" height="30">
        </div>
      </div>
    </div>
  </footer>
</div>